@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');
@import url('https://fonts.googleapis.com/css?family=Charm');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
nav.navbar {
    background-color: #0C141D;
	padding-top:0px;
	padding-bottom: 0px;
	padding-left:0px;

	
}
.imageny {
	padding-bottom: 250px;
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.map{
color:white;
padding-bottom: 11px;
font-size:20px;

}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.navbar-brand  span{
	color: #4986AE;
	font-size:25px;
	font-weight:bold;
	//letter-spacing:0.1em;
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Major Mono Display', monospace;
}
.navbar-brand {
	color: #4986AE;
	font-size:25px;
    /*font-family: 'Lobster', cursive;*/
   font-family: 'Major Mono Display', monospace;
	font-weight:bold;
	//letter-spacing:0.1em;
}
.navbar-nav .nav-item .nav-link{
	
	padding: 0 important;
	color: #fff;
	font-weight: bold; 
	font-family: 'Montserrat', sans-serif;
	font-size:90%;
}
.pru{
background-color: rgba(0.5, 0, 0, 0.5);
}

.nv-down{
	color: #fff;
	font-weight: bold; 
	font-family: 'Montserrat', sans-serif!important;
	font-size:100%;
	margin:10px;
	margin-top:0px;
	margin-bottom:0px
}
.nv-down2{
	color: #fff;
	font-weight: bold; 
	font-family: 'Montserrat', sans-serif!important;
	font-size:100%;
	margin:15px;
	margin-top:7px;
	margin-bottom:7px
}
.nv-down:hover{
	color:#5F9AC1;
}
.nv-down2:hover{
	color:#5F9AC1;
}
#nv-bottom{
	display:none;
}
.act{
	color: #4986AE !important;	
    font-weight: bold !important; 
    font-size:100% !important;
}
.sim{
	font-size:160% !important;
}

.navbar-nav .nav-item .nav-link:hover{
	color:#5F9AC1;
}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid #5F9AC1;
}
.dropdown-item:hover{
	background-color:#5F9AC1;
	color:#fff;
}
.active a {	 
    color: #4986AE !important;	
    font-weight: bold !important; 
    font-size:90% !important;
}
nav{
	-webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
}
body {
    /*font-family: sans-serif;*/
    background-image: url('../image/white.png');
    /*background-color:#2A2E33;*/
}



.titulo{
	color:white;
	font-size:110%;
}
.letr{
	font-family: 'Montserrat', sans-serif;
font-weight: bold; 
}

.alert{
	padding-top:9px;
	padding-bottom:9px;
	align:center;
}
#principal{
	padding-top:60px;
	padding-bottom:10px;
	
}
.prin2{
	padding-top:30px;
}

*{box-sizing:border-box;}

		

		.social{
			/*las imágenes usadas tienen width de 48px*/
			width:48px;
			position:fixed;
			top:50px;
			left:0;
		}

		/* Extra centrado vertical*/

		.social{
			/*border:1px solid #000;*/
			top:50%;
			height:205px;
			/*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
			margin-top:-100px;
		}
