@import
	url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster')
	;

body {
	font-family: sans-serif;
}

.active a {
	color: #4986AE !important;
}

.navbar {
	background-color: #252B30;
	padding-top: 3px;
	padding-bottom: 3px;
}
#principal{

	padding-top:60px;

	padding-bottom: 10px;
}
.btn {
	font-size: 23px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

.btn:hover {
	color: #4986AE;
}

.navbar-brand  span {
	color: #4986AE;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 0.1em;
	font-family: 'Lobster', cursive;
}

.navbar-brand {
	color: #fff;
	font-size: 25px;
	font-family: 'Lobster', cursive;
	font-weight: 700;
	letter-spacing: 0.1em;
}

.navbar-nav .nav-item .nav-link {
	padding: 0 important;
	color: #fff;
	font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
	color: #5291BA;
}

.navbar-nav .nav-item .nav-link:active {
	color: #5291BA;
	background-color: b;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
	border-top: 3px solid #5291BA;
}

.dropdown-item:hover {
	background-color: #5291BA;
	color: #fff;
}

nav {
	-webkit-transition: padding-top .3s, padding-bottom .3s;
	-moz-transition: padding-top .3s, padding-bottom .3s;
	transition: padding-top .3s, padding-bottom .3s;
	border: none;
}

/*para index.html*/
.breadcrumb-area {
    position: relative;
    z-index: 10;
    width: 100%;
    padding-bottom: 60px;
}
.banner {
	background-image: url('../image/index.jpg');
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.banner-text {
	padding: 230px 0 300px 0;
}

.banner-heading {
	font-size: 45px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #123146;
}

.banner-sub-heading {
	font-size: 35px;
	font-weight: 400;
	margin-bottom: 40px;
	color: #123146;
}

.text-intro {
	width: 90%;
	margin: auto;
	text-align: center;
	padding-top: 30px;
}

/*para error*/
.banner-heading-error {
	font-size: 25px;
	font-weight: 700;
	color: #fff;
}

.banner-text-error {
	padding: 200px 10% 310px 10%;
}

.banner-error {
	background-image: url('index.png');
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#cola {
	color: #5291BA;
}

fieldset {
	border: 1px solid;
	padding: 20px;
	border-color: #5291BA;
	background-color: #252B30;
	border-radius: 5px;
}

/* mobile view */
@media ( max-width :900px) {
	.banner-text-error {
		padding: 200px 0 400px 0px;
	}
}

@media ( max-width :500px) {
	.banner-heading {
		margin-bottom: 20px;
	}
	.banner-sub-heading {
		margin-bottom: 40px;
	}
	.banner-text-error {
		padding: 230px 0 275px 0px;
	}
}