*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and (max-width: 1920px) {
  div.social {
    position: fixed; /* para que los iconos se queden pegados a la pantalla*/
	left: 0;
	top: 200px;
	z-index: 2000;
  }
}
 
@media screen and (max-width: 900px) {
  div.social {
    position: fixed; /* para que los iconos se queden pegados a la pantalla*/
	left: 0;
	top: 400px;
	z-index: 2000;
  }
}

.social {
	
}

.social ul {
	list-style: none;
}

.social ul li a {
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-0-transition: all 500ms ease;
	transition: all 500ms ease;
}

.social ul li .icon-facebook {background: #3b5998;}
.social ul li .icon-twitter {background: #00abf0;}
.social ul li .icon-whatsapp {background: #25d366;}
.social ul li .icon-youtube {background: #c4302b;}
.social ul li .icon-linkedin {background: #0077B5;}
.social ul li .icon-instagram {background: #e4405f;}
.social ul li .icon-mail {background: #666666;}

.social ul li a:hover {
	padding: 10px 30px;
	background: #000;
}

.guia {
	background: #F5F5F5;
	left: 0;
	margin: 0px;
}

.carrito {
	position: fixed; /* para que los iconos se queden pegados a la pantalla*/
	right: 0;
	top: 58px;
	z-index: 2000;	
}

.carrito ul {
	list-style: none;
}

.carrito ul li a {
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 20px 25px;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-0-transition: all 500ms ease;
	transition: all 500ms ease;
}

.carrito ul li a:hover {
	padding: 20px 50px;
	background: #000;
}

